.footer-container{
background-image: linear-gradient(to top left,white,dodgerBlue);
margin-top: 20px;
text-align: center;
}
.footer-container p{
margin-right: 10px;

}
.social-logo{
    margin-right: 10px;
}

.social-content{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}