.footer-container{
background-image: linear-gradient(to top left,rgb(67, 108, 7),rgb(126, 175, 51));
margin-top: 20px;
text-align: center;
}
.footer-container p{
margin-right: 10px;

}
.social-logo{
    margin-right: 10px;
    cursor: pointer;
}
.social-logo:hover{
    color: white;
}

.social-content{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}