.nav-logo img{
    width: 60px;
    height: 60px;
    margin-right: 5px;
    fill: green;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo h1{
    color: greenyellow;
}
.nav-container{
background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/banner.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding:0  40px;
}
button {
    color: white;
    cursor: pointer;
    background-color: rgb(116, 189, 6);
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: sans-serif;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-left: 20px;
    /* box-shadow: 6px 6px 10px white inset; */
        /* -6px -6px 12px #ffffff; */
}

button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgb(140, 171, 94) 0%, rgb(93, 151, 6) 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 9em;
}
.Button{
    margin-left: 0;
    margin-top: 20px;
}

